
  <div  class="container bg-grey">
    <div class="row">
      <div class="col-sm-8">
        <h2>Add Product To System</h2><br>
        Product name: <input type="text" class="form-control" size="50"  required [(ngModel)] = "product.name"><br>
        Product price: <input type="number" class="form-control" size="50"  required [(ngModel)] = "product.price" min="0"><br>
        Product Category:
        <select class="form-control" name="CategorySelection">
          <option *ngFor="let category of categories" [(ngModel)] = "choosenCategory">{{category.name}}</option>>
        </select>
        <br>
        Product Brand:
        <select class="form-control" name="brandSelection">
          <option *ngFor="let brand of brands" [(ngModel)] = "choosenBrand">{{brand.name}}</option>
        </select>
        <br>
        <br><button class="btn btn-default btn-lg" (click)="addProduct()">Add Product</button>
      </div>
    </div>
  </div>
  <hr>
