
<body>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading text-center">System Stores</div>

    <div class="panel-body">

      <div class="form-control" [(ngModel)]="choosenStore" name="stores">
        <div class="row">

          <div class="col-xs-6 text-center">
            <h4> <strong>Store name</strong> </h4>
          </div>

          <div class="col-xs-6 text-center">
            <button class="btn btn-default btn-lg" (click)="viewStore()">View store</button>
          </div>

        </div>
        <hr>
      </div>

    </div>


  </div>
</div>
</body>

