<!DOCTYPE html>
<html lang="en">
<head>
  <title>In Door</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<div class="jumbotron text-center">
  <h1>In Door</h1>
  <p>Online Shopping</p>
</div>

<!--<a routerLink="/stores" routerLinkActive="active">stores</a>
<router-outlet></router-outlet>-->

<app-register-form></app-register-form>

<app-login-form></app-login-form>

<footer class="container-fluid text-center">
  <a href="#myPage">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <h3>Go Up</h3>
</footer>

</body>
</html>
