<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading text-center"> <span class="glyphicon glyphicon-shopping-cart"></span> My Cart</div>

    <div class="panel-body">

      <div>
        <div class="row">

          <div class="col-xs-2 text-center">
            <h4> <strong>Product name</strong> </h4>
          </div>

          <div class="col-xs-2 text-center">
            <h4>Category</h4>
            <h4><small>here</small></h4>
          </div>

          <div class="col-xs-2 text-center">
            <h4>Brand</h4>
            <h4><small>here</small></h4>
          </div>
          <div class="col-xs-2 text-center">
            <h4>Store name</h4>
            <h4><small>here</small></h4>
          </div>

          <div class="col-xs-1 text-right">
            <h6>25.00 / psc</h6>
          </div>

          <div class="col-xs-1 text-center">
            <input type="number" class="form-control input-sm" value="1">
          </div>

          <div class="col-xs-1 text-center">
            <button class="btn btn-default btn-md" >remove from cart</button>
          </div>
        </div>
        <hr>
      </div>

    </div>

    <div class="panel-footer text-center" id="footerPanel">
      <div class="row">
        <div class="col-xs-6 text-center">
          <h4> <strong>Total Price</strong> </h4>
          <h4><small>333 $</small></h4>
        </div>
        <div class="col-xs-6 text-center">
          <button class="btn btn-default btn-lg" >Buy Products</button>
        </div>
      </div>
    </div>

  </div>
</div>
</body>

