<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div  class="container-fluid bg-3 text-center">
  <div *ngFor="let store of unacceptedStores"  class="row">

  <div class="col-sm-4 container-fluid text-center">
    Store name: {{store.name}}<br>
    Store type: {{store.type}}<br>
    Store location: {{store.location}}<br>
    <button class="btn btn-default btn-lg" onclick=this.acceptStore()>accept</button>
    <button class="btn btn-default btn-lg">remove</button>
  </div>

  </div >
</div>
