<form method="post">
  <div id="login"class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-8">
        <h2>Log in</h2><br>
        Username/Email: <input  type="text" class="form-control" size="50" placeholder="username or email" required><br>
        Password: <input type="password" class="form-control" size="50" placeholder="password" 		  required><br>
        <br><button class="btn btn-default btn-lg" style="color: #607D8B" (click)="login()">log in</button>
      </div>
    </div>
  </div>
</form>
